body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header dan Navbar */
.header{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 32px;
    background-color: rgb(161, 211, 255);
}

.header-brand{
    font-weight: bold;
    font-size: 20px;
}

.navbar{
    display: flex;
    gap: 15px;
}

.nav-link{
    text-decoration: none;
}

.nav-link.active{
    font-weight: bold;
}

/* Konten utama */
.main-content{
    flex: 1;
    padding: 32px;
}

/* Footer */
.footer{
    background-color: rgb(161, 211, 255);
    padding: 16px;
    text-align: center;
}

/* Auth login */
.auth{
    margin-left: auto;
}

.auth-button{
    padding: 6px 16px;
    cursor: pointer;
    border-radius: 8px;
    background-color: slategray;
    color: white;
}

/* Halaman Login */
.login-page{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.back-to-home{
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4x;
}

.login-container{
    padding: 2.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 350px; 
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.login-title{
    margin-top: 0;
    margin-bottom: 24px;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black; 
}

.submit-button{
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/* Halaman Not Found */
.not-found{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f8f9fa;
    padding: 1rem;
}

.not-found-text{
    margin-top: 8px;
    margin-bottom: 16px;
}

.btn-back{
    padding: 10px 20px;
    background-color: #007bff;
    text-decoration: none; 
    border-radius: 4px;
    font-weight: bold;
}